
body {
  font-family: "Montserrat";
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat-Bold";
}

p {
  color: #000;
}

button {
  background-color: #000;
  color: #00FFF0;
  box-shadow: 0 5px 10px 0 #000;
}

/* Sections */
#features {
  padding: 0 0 5% 0;
  position: relative;
}

.feature-title {
  font-size: 1.5rem;
  color: #fff;
}

.feature-box {
  padding: 4%;
}

.features-text{
  color: #fff;
}

.homepageIcon {
  width: 80%;
}

.container {
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-image: linear-gradient(#000, #00FFF0);
  border-radius: 12px;  
  padding: 0px 15px;  
  margin: 2%;
  filter: drop-shadow(0 30px 10px rgba(0,0,0,0.125));
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:center;
  text-align: center;
  box-shadow: 0 5px 10px 0 #000;
  color: #000;
}

.intro-image {
width: 35%;
padding: 15% 10% 5% 0;
}

/* Headings */
.big-heading {
  font-family: "Montserrat-Black";
  font-size: 3.5rem;
  line-height: 1.5;
}

.section-heading {
  font-size: 3rem;
  line-height: 1.5;
}

/* Containers */
.container-fluid{
  padding: 0% 12.5% 0% 12.5%;
}

/* Navigation Bar */
.navbar {
  box-shadow: 0px 0px 5px 0px #000;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  padding: 0 0 0 15.5%;
  background-color: white;
  z-index: 1;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  color: #000;
  padding: 0 18px;
}

.navbar-nav {
  padding: 0 15% 0 0;
}

.nav-link {
  color: #000;
  font-size: 1.2rem;
  font-family: "Montserrat-Light";
}

.navbarLogo {
  width: 30px;
}

/* Buttons */
.download-button {
  margin: 5% 3% 5% 0;
}

/* Title Section */
#title {
  color: #000;
  text-align: left;
}

#title .container-fluid {
  padding: 1.5% 2.5% 0% 15%;
}

/* Title Image */
.title-image {
  width: 70%;
}

/* Testimonial Section */

#testimonials {
  background-color: #ef8172;
}

.testimonial-text {
  font-size: 3rem;
  line-height: 1.5;
}

.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}


#press {
  background-color: #ef8172;
  padding-bottom: 3%;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

/* Pricing Section */

#pricing {
  padding: 100px;
}

.price-text {
  font-size: 3rem;
  line-height: 1.5;
}

.pricing-column {
  padding: 3% 2%;
}

/* CTA Section */


/* Footer Section */


.social-icon {
  margin: 20px 10px;
}

@media (max-width: 1028px) {

  #title {
    text-align: center;
  }

  .title-image {
    position: static;
    transform: rotate(0);
  }
}

.row{
  justify-content: center;
  padding: 0 0 0 -5%;
  margin: 25px 0 0 0;
}